body{
    background-size: cover;
    background-repeat: no-repeat;
}
/*containers en columna y fila*/
.flex-container-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-column{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
/*para poner un margin y un paddig estandar*/
.padder{
    padding: 50px;
}

.marginner{
    margin: 50px;
}
/*###################################################################################*/
/*estilos especificos*/
.all-holder{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
.categorias-holder{
    width: 25%;
    height: 100%;
    background-color: rgb(213, 216, 33);

}
.games-holder{
    width: 75%;
    height: 100%;
    background-color: rgb(255, 0, 0);   
}
img{
    /*
    width:  50%;
    height: 100%;
    */
    width: 250px;
    height: 250px;
}
h1{
    background-color:cadetblue;
    margin: 0;
    padding: 0;
}