body{
    background-size: cover;
    background-repeat: no-repeat;
}
/*containers en columna y fila*/
.flex-container-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-column{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
/*para poner un margin y un paddig estandar*/
.padder{
    padding: 10px;
}

.marginner{
    margin: 5px;
}
/*estilos especificos*/
.registro-holder{
    width: 50%;
    background-color: black;

    border: 15px solid rgb(58, 58, 58);

}

.marco-style{
    display: flex;

    overflow-x: auto;

    max-height: 450px;
    min-height: 450px;

    padding-top: 10%;
    width: 50%;

    background-color: brown;
}
.img-marco{
    height: 200px;
    width: 150px;
    border-radius: 5px;
}